.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35%;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

/* media queries */
@media (max-width: 420px) {
  .loginBox {
    width: 90%;
    margin: 0;
  }
}

.loginBox .userBox {
  position: relative;
}

.loginBox .userBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.loginBox .userBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}
.loginBox .userBox input:valid ~ label,
.loginBox .userBox input:focus ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.focusedOrValid {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.loginBox form .submit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: #383cc1;
  border-radius: 5px;
}

.loginBox .submit:hover {
  background: #383cc1;
  color: #fff;
  box-shadow: 0 0 5px #383cc1, 0 0 25px #383cc1, 0 0 50px #383cc1,
    0 0 100px #383cc1;
}

.loginBox .submit span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.lineAnimation {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #383cc1);
  animation: btn-anim1 2s linear infinite;
}

/* target input of type submit */
.loginBox .submit input[type="submit"] {
  background: transparent;
  border: none;
}
